<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/head :: head('Home - Whiskey Closet')"></head>

    <body>
        <nav th:replace="partials/navbar :: navbar"></nav>

        <!-- Need to create a css file to put css in, putting it in html for now -->
        <div id="home-jumbotron" class="jumbotron jumbotron-fluid" align="center">
            <div class="container">
                <img src="images/whisky-barrel.jpg" class="img-fluid" style="height: 400px"/>
            </div>
        </div>

        <div class="mx-auto" style="width: 600px;" align="center">
            <h1  th:text="${welcome}" style="color: brown"/>
            <h3><a th:href="whiskeyList">Click To Access Collection</a></h3>
        </div>


        <script th:replace="partials/scripts :: scripts"></script>

    </body>
</html>